<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quotesandjokes">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Light">
        <activity
            android:name=".Share.ShareQRActivity"
            android:label="@string/title_activity_share_q_r">
        </activity>

        <activity android:name=".Share.ShareDrawableActivity" />
        <activity android:name=".Share.ShareTextActivity" />
        <activity android:name=".Share.ShareActivity" />
        <activity android:name=".Wish.ReligiousMemorableEvents.MemorableEvents.SisterDayActivity" />
        <activity android:name=".Wish.ReligiousMemorableEvents.MemorableEvents.BrotherDayActivity" />
        <activity android:name=".Wish.ReligiousMemorableEvents.MemorableEvents.MotherDayActivity" />
        <activity android:name=".Wish.ReligiousMemorableEvents.MemorableEvents.FatherDayActivity" />
        <activity android:name=".Wish.ReligiousMemorableEvents.MemorableEvents.FriendDayActivity" />
        <activity android:name=".Wish.ReligiousMemorableEvents.MemorableEvents.ValentineDayActivity" />
        <activity android:name=".Favourite.MemorableEventFavActivity" />
        <activity android:name=".Favourite.InternationalEventsFavActivity" />
        <activity android:name=".Favourite.ReligiousEventsFavActivity" />
        <activity android:name=".Favourite.SpecialEventsFavActivity" />
        <activity android:name=".Wish.ReligiousMemorableEvents.ReligiousEvents.MakarActivity" />
        <activity android:name=".Wish.ReligiousMemorableEvents.ReligiousEvents.KarwaActivity" />
        <activity android:name=".Wish.ReligiousMemorableEvents.ReligiousEvents.GaneshActivity" />
        <activity android:name=".Wish.ReligiousMemorableEvents.ReligiousEvents.NavratriActivity" />
        <activity android:name=".Wish.ReligiousMemorableEvents.ReligiousEvents.BhaiActivity" />
        <activity android:name=".Wish.ReligiousMemorableEvents.ReligiousEvents.RakshaActivity" />
        <activity android:name=".Wish.NationalSpecialEvents.InternationalNationalEvents.InternationalActivity" />
        <activity android:name=".Wish.ReligiousMemorableEvents.MemorableEvents.MemorableDayActivity" />
        <activity android:name=".Wish.ReligiousMemorableEvents.ReligiousEvents.ReligiousDayActivity" />
        <activity android:name=".Wish.NationalSpecialEvents.SpecialEvents.SpecialEventsActivity" />
        <activity android:name=".Favourite.FavouritesActivity" />
        <activity android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DarkModeActivity" />
        <activity android:name=".Joke.JokesFavActivity" />
        <activity android:name=".Quote.QuotesFavActivity" />
        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:supportsPictureInPicture="true" />
    </application>

</manifest>