<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quotesandjokes">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Light">
        <activity android:name=".ShareDrawableActivity"></activity>
        <activity android:name=".ShareTextActivity" />
        <activity android:name=".ShareActivity" />
        <activity android:name=".SisterDayActivity" />
        <activity android:name=".BrotherDayActivity" />
        <activity android:name=".MotherDayActivity" />
        <activity android:name=".FatherDayActivity" />
        <activity android:name=".FriendDayActivity" />
        <activity android:name=".ValentineDayActivity" />
        <activity android:name=".MemorableEventFavActivity" />
        <activity android:name=".InternationalEventsFavActivity" />
        <activity android:name=".ReligiousEventsFavActivity" />
        <activity android:name=".SpecialEventsFavActivity" />
        <activity android:name=".MakarActivity" />
        <activity android:name=".KarwaActivity" />
        <activity android:name=".GaneshActivity" />
        <activity android:name=".NavratriActivity" />
        <activity android:name=".BhaiActivity" />
        <activity android:name=".RakshaActivity" />
        <activity android:name=".InternationalActivity" />
        <activity android:name=".MemorableDayActivity" />
        <activity android:name=".ReligiousDayActivity" />
        <activity android:name=".SpecialEventsActivity" />
        <activity android:name=".FavouritesActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DarkModeActivity"></activity>
        <activity android:name=".JokesFavActivity" />
        <activity android:name=".QuotesFavActivity" />
        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:supportsPictureInPicture="true" />
    </application>

</manifest>